.custom-tabs .ant-tabs-tab-btn {
  padding: 5px;
}

.custom-tabs .ant-tabs-tab-btn {
  color: #9ca3af !important;
}

.custom-tabs .ant-tabs-tab-btn:hover {
  color: white !important;
}

.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #d855a0 !important;
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: #d855a0 !important;
}

.custom-tabs .ant-tabs-nav::before,
.ant-tabs-bottom > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before,
.ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom: 1px solid white !important;
}

.custom-tabs .ant-tabs-tab-btn svg path {
  stroke: #9ca3af !important;
}

.custom-tabs .ant-tabs-tab:hover svg path {
  stroke: white !important;
}

.custom-tabs .ant-tabs-tab.ant-tabs-tab-active svg path {
  stroke: #d855a0 !important;
}
