/* CustomLightbox.css */

.thumbnail {
  cursor: pointer;
  margin: 5px;
}

.thumbnail img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.thumbnail img:hover {
  filter: grayscale(100%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImage {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.thumbnailSlider {
  display: flex;
}

.thumbnailImage {
  cursor: pointer;
  margin: 0 5px;
}

.thumbnailImage img {
  width: 100px;
  height: 80px !;
  object-fit: cover;
  filter: grayscale(100%);
  /* Apply grayscale filter to unselected images */
}

.customImageClass {
  height: 100% !important;
  width: 100% !important;
}

.selectedThumbnail img {
  border: 2px solid #fff;
  filter: none;
  /* Remove filter from selected image */
}

.gallery-close {
  position: absolute;
  top: -66px;
  right: 72px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.gallery-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* .gallery-index,
.fifthImage {

} */

.gallery-parent {
  display: flex;

  /* grid-template-columns: repeat(3, 1fr); */
  gap: 10px;
  flex-basis: 77%;
  justify-content: flex-end;
}

/* .columnContainer {
  flex: 0 0 calc(33.33% - 10px); 
} */
.columnContainer-1 {
  flex-basis: 50%;
}

/* @media (max-width: 1920px) {
  .gallery-parent {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1400px) {
  .gallery-parent {
    grid-template-columns: repeat(3, 1fr);
  }
} */
.gallery-head {
  display: flex;
  justify-content: space-between;
}

.thumbnailContainer {
  margin: 14px;
}

.fifthImage {
  /*saud blur opacity required */
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.9);
}

.fifthImage::after {
  content: "";
  display: inline-block;
  width: 250px;
  height: 250px;
  position: absolute;
  background-image: rgba(0, 0, 0, 0.9);

  z-index: 10000;
  background-size: 100%;
}

.gallery-open-parent {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-rating p {
  color: rgba(0, 0, 0, 0.6);
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.product-location-sub {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bd {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #d1d5db;
  border-bottom: 1px solid #d1d5db;
}

.product-location {
  display: flex;
  gap: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.add-border {
  border: 1px solid #e5e7eb;
}

.productpage-heading {
  margin-top: 16px;
  flex-basis: 62%;
}

.productpage-parent {
  display: flex;
  gap: 50px;
}

.productpage-card {
  flex-basis: 38%;
  background-color: #f2f2f2;

  position: relative;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.product-card-1 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
}

.card-calender {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.card-calender-1 {
  width: 164px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 58px;
  background: white;
  border-radius: 12px;
  justify-content: center;
}

select {
  text-transform: none;
  border: none;
  outline: none;
}

option {
  border: none;
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select option:hover {
  background-color: #c75d9c;
  /* Change the hover background color */
}

input:focus {
  outline: none;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-header {
  padding: 3px;
  background-color: white;
  cursor: pointer;
}

.dropdown-item {
  padding: 3px;

  cursor: pointer;
  background-color: white;
  text-align: center;
  padding-left: 30px;
}

.dropdown-item:hover {
  background-color: #c75d9c;
  color: white;
}

.dropdown-list {
  margin-top: 2px;
}

.product-cart-btn button {
  background-image: linear-gradient(to right, #212674, #2760aa, #d750a0);
  color: white;
  padding: 14px 133px 14px 123px;
  border-radius: 35px;
}

.dropdown-parent {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  border-radius: 12px 0px 0px;
  width: 344px;
  height: 58px;
  margin-top: 20px;
  justify-content: center;
}

.sub-calculation {
  display: flex;

  margin-top: 20px;
  justify-content: space-evenly;
}

.sub-calculation-3 {
  display: flex;

  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 30px;
}

.product-cart-btn {
  margin-top: 20px;
}

.product-cart-calculation p {
  text-align: center;
}

.product-cart-calculation {
  gap: 15px;
  margin-top: 20px;
  width: 100%;
}

.read-more p {
  border: 1px solid black;
  border-radius: 35px;
  padding: 0px -2px;
  display: inline;
  padding: 6px;
}

.read-more {
  margin-top: 45px;
}

.product-about {
  margin-top: 30px;
}

.product-card-calender {
  width: 100%;
}

.gallery-more span {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  position: relative;
  z-index: 0;

  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  width: 70%;
  margin: 0 auto;
  margin-top: -110px;
}

@media (max-width: 1920px) {
  .gallery-more span {
    margin-top: -130px;
  }
}

@media (max-width: 1450px) {
  .gallery-more span {
    margin-top: -100px;
  }
}

@media (max-width: 1275px) {
  .productpage-parent {
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .gallery-more span {
    margin-top: -88px;
  }
}

@media (max-width: 1000px) {
  .gallery-head {
    flex-direction: column;
  }

  .gallery-more span {
    margin-top: -110px;
  }
}

@media (max-width: 425px) {
  .gallery-close {
    top: -43px;
    right: 23px;
  }

  .gallery-more span {
    margin-top: -44px;
    font-size: 7px;
  }
}

@media (max-width: 375px) {
  .gallery-more span {
    margin-top: -40px;
    font-size: 7px;
  }
}

.porduct-category-1 {
  display: flex;
  gap: 5px;
  align-items: center;
}

.flex-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 15px;
}

/* ..saud see this.. */

.product-calender-5 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.calender-one .react-calendar {
  top: 80px;
  left: 0;
  right: 0;
}